h1 {
    font-size: 60px;
    text-align: center;
    margin:auto;
    color: darkgray;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

header {
    width: 100%;
    background: aqua;
}